/* Font css */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Azeret Mono", monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner section css */
.banner{
    width: 100%;
    height: 652px;
    text-align: center;
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.banner-content h1{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-top: 12px;
}

.banner-content p{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px;
    opacity: 0.7;
}

.banner-content button{
    padding: 21px 24px;
    border: none;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
}

/* Why section css */
.why{
    width: 90%;
    margin: 60px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-content{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.why-title{
    text-align: center;
    padding: 40px 0px;
}

.why-title h1{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
}

.why-title p{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px;
    opacity: 0.7;
}

.wcard-1, .wcard-3{
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    justify-content: space-between;
}

.card-text{
    flex-basis: 60%;
}

.card-img{
    flex-basis: 40%;
}

.card-text h2{
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.card-text p{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0px;
}

.card-text button{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}

.wcard-2{
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
}

/* Inspiration section css */

.inspiration{
    width: 100%;
    padding: 40px 0px;
}

.i-content{

}

.i-title{
    text-align: center;
}

.i-title h1{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
}

.i-title p{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0px;
}

.i-video{
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

.i-video iframe{
    width: 100%;
    border-radius: 16px;
}

/* Current target section css */

.current-target{
    width: 100%;
    padding: 40px 0px;
}

.c-target-title h1{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 800;
}

.c-target-title p{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0px;
}

.c-target-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.c-target-card1{
    flex-basis: 33.33%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.c-target-card2{
    flex-basis: 33.33%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin: 0px 24px;
}

.c-target-card3{
    flex-basis: 33.33%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.c-target-cards h1{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 16px;
}

.c-target-cards p{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 16px 0px;
}

.c-target-cards a{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 700;
}

/* Support section css */
.support{
    width: 100%;
    
}

.s-content{
    width: 100%;
    height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    padding: 64px 48px;
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
        url('../images/handshake.jpg') lightgray 50% / cover no-repeat;
}

.s-content h1{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}

.s-content p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0px;
}

.s-content input[type=text]{
    padding: 20px;
    width: 548px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
}

.s-content input[type=text]::placeholder{
    color: rgba(13, 19, 33, 0.40);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.s-content input[type=text]:focus-visible{
    outline-color: #fff;
}

.s-content input[type=submit]{
    padding: 18px;
    width: 120px;
    border-radius: 8px;
    background: #FFF;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}




footer{
    margin: 100px;
}

















